In [1]:
import pandas as pd
import numpy as np
import matplotlib as alt

## Load Dataset

In [26]:
column_names = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','Class']

adult_data = pd.read_csv('../data/adult_train.csv', header= None, names = column_names)
adult_data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,Class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [43]:
numerical = ['age','fnlwgt','education_num','capital_gain','capital_loss','hours_per_week']
categorical = ['workclass','education','marital_status','occupation','relationship','race','sex','native_country','Class']

# Getting rid of blanks at the start of categorical features
adult_data[categorical] = adult_data[categorical].apply(lambda x: x.str.strip())

## Exploring data

In [7]:
adult_data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [46]:
print("The number of Workclasses are : {0}".format(adult_data['workclass'].unique().shape[0]))
print("The Workclasses are :\n {0}".format(adult_data['workclass'].unique()))

The number of Workclasses are : 9
The Workclasses are :
 ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

In [47]:
print("The number of classes of Education are : {0}".format(adult_data['education'].unique().shape[0]))
print("The classes of Education are :\n {0}".format(adult_data['education'].unique()))

The number of classes of Education are : 16
The classes of Education are :
 ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

In [48]:
print("The number of classes of marital_status are : {0}".format(adult_data['marital_status'].unique().shape[0]))
print("The classes of marital_status are :\n {0}".format(adult_data['marital_status'].unique()))

The number of classes of marital_status are : 7
The classes of marital_status are :
 ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']

In [49]:
print("The number of classes of occupation are : {0}".format(adult_data['occupation'].unique().shape[0]))
print("The classes of occupation are :\n {0}".format(adult_data['occupation'].unique()))

The number of classes of occupation are : 15
The classes of occupation are :
 ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']

In [50]:
print("The number of classes of relationship are : {0}".format(adult_data['relationship'].unique().shape[0]))
print("The classes of relationship are :\n {0}".format(adult_data['relationship'].unique()))

The number of classes of relationship are : 6
The classes of relationship are :
 ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']

In [51]:
print("The number of classes of race are : {0}".format(adult_data['race'].unique().shape[0]))
print("The classes of race are :\n {0}".format(adult_data['race'].unique()))

The number of classes of race are : 5
The classes of race are :
 ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']

In [52]:
print("The number of classes of sex are : {0}".format(adult_data['sex'].unique().shape[0]))
print("The classes of sex are :\n {0}".format(adult_data['sex'].unique()))

The number of classes of sex are : 2
The classes of sex are :
 ['Male' 'Female']

In [53]:
print("The number of classes of native_country are : {0}".format(adult_data['native_country'].unique().shape[0]))
print("The classes of native_country are :\n {0}".format(adult_data['native_country'].unique()))

The number of classes of native_country are : 42
The classes of native_country are :
 ['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']

In [42]:
print("Number of observations with income Class >50K $ = {0}".format(adult_data[adult_data['Class']=='>50K'].shape[0]))
print("Number of observations with income Class <=50K $ = {0}".format(adult_data[adult_data['Class']=='<=50K'].shape[0]))

Number of observations with income Class >50K $ = 7841
Number of observations with income Class <=50K $ = 24720

## Observations

1. Categorical variables - `native_country`, `occupation`, `workclass` having "?" in some places.
2. Outliers present in numerical variables - `capital_gain`,`capital_loss`
3. Target classes are not evenly distributed.